
 

  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');



body{
    background-color: #e1e8fa;    
    background-image: url("images/pattern-background-desktop.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}
div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main{
    width: 450px;
    height: 697px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bluehead{
    background-image: url("images/illustration-hero.svg");
    width: 450px;
    height: 220px;
    border-radius: 20px 20px 0 0;
}

.whitebackground{
    width: 450px;
    height: 477px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
}

h1, h3{
    display: flex;
    justify-content: center;
    
}

h1{
    font-family: 'Red Hat Display', sans-serif;
    font-weight:900;
    font-size: 28px;
    color:#1F2E55;
}

h3{
    font-family: 'Red Hat Display', sans-serif;
    font-weight:500;
    font-size: 16px;
    color: #717FA6;
    text-align:center;
}
 
.h3background{
    margin: 0   auto   0   auto;
    width: 354px;
    height:78px;
}

.plan-background{
    background-color: #F7F9FF;
    border-radius: 20px;
    margin: 0   auto   0   auto;
    width: 354px;
    height:98px;
    flex-direction: row;
    align-items: center;

}

.icon{
    background-image: url("images/icon-music.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 48px;
    height:48px;
}

.plan-price{
    margin-right: auto;
    width: 92px;
    height:48px;
    font-family: 'Red Hat Display', sans-serif;
    /* შეცდომა 3:ეს უნდა იყოს iconთან უფრო ახლოს მაგრამ ჩემსაში შუაშია */
}

.price{
    color:#717FA6;
    font-weight: 500;
}

.plan{
    font-weight: 900;
}

.change{
    margin: auto;
    width: 52px;
    height:19px;
    color:#382AE1;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 700;
}
.change:hover{
    color:#766CF1;
}
.pmnt-button{
    width: 354px;
    height:50px;
    background-color: #382AE1;
    border-radius: 10px;
    box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    font-weight: 900;
    margin:auto;
    text-align:center;
}

.pmnt-button:hover{
background-color: #766CF1;

}
.cancel{
    text-align:center; 
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    font-weight: 900;
    margin:auto;
    color: #717FA6;
}

.cancel:hover{
    color:black;
}

.pointer{
    cursor: pointer;
}

